<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/init_css.css')}}  " />
  <link rel="stylesheet" href="{{url_for('static', filename='css/home_style.css')}}" />
</head>

<body>
  <div class="body">
    <div class="home-bg-img"></div>
    <img src="{{url_for('static', filename='img/home.png')}}" alt="" class="home-bg-img" />
  </div>
  <button onclick="location.href = '/form'">start</button>
</body>

</html>